body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.big{
    color: red;
}
.small{
    color:crimson;
    font-size: 24px;
}
.flexi{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    padding: 4%;
    
}
.half img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(darkred, red);
    padding: 8px 25px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}
.sky{
    text-decoration: none;
    background-image: linear-gradient(black,skyblue);
    padding: 8px 25px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.new-button{
    text-decoration: none;
    background-image: linear-gradient(darkblue, skyblue);
    padding: 8px 25px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}
.git-button{
    text-decoration: none;
    background-image: linear-gradient(black, gray);
    padding: 8px 25px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.exp{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    border-left: 6px solid green;
}
.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.exp1{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    border-left: 6px solid darkred;
}